*{
    margin:0; padding: 0;
}
.list{
    max-width: 400px;
    width: 90%;
    height: 500px;
    margin: 50px auto;
    background: rgb(224,128,56);
    background: linear-gradient(111deg, rgba(224,128,56,0.7539390756302521) 0%, rgba(173,204,255,0.5942752100840336) 100%);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #ddd;
}
.header{
    font-size: 28px;
    height: 55px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}
.items{
    display: block;
    width: 94%;
    height: 340px;
    margin-left: 3%;
    background-color: #fff;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    list-style: none;
}
.item_name{
    color:#333;
    font-size: 20px;
    line-height: 40px;
}

.item_delete{
    display: block;
    float: right;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 40px;
}
.item_delete:hover{
    color: rgb(224,128,56);
}
footer{
    padding: 5px 3% 0 3%;
    box-sizing: border-box;
}
.footer_input{
    width: 100%;
    border: none;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}
.footer_button{
    display: block;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}