*{ margin: 0; padding: 0; }
body{ height: 100%; overflow: hidden; }
ul{ list-style: none; }
.score{ text-align: center; font-size: 36px; margin-bottom: 2rem; }
.playground > ul{ width: 250px; margin: 0 auto; border: 1px solid #ccc;}
.playground > ul > li{ width: 100%; height: 25px;}
.playground > ul > li > ul { display: flex ;} /*옆으로 나열시키기*/
.playground > ul > li > ul > li { width: 25px; height: 25px; outline: 1px solid #eee;}
.tree{ background: #67c23a; }