*{padding: 0; margin: 0;}
.gallery{
    width: 700px; overflow: hidden; border: 1px solid #ccc; margin: 30px auto;
}
.gallery .tabBtn{
    width: 100%; height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #ededed;
}

.gallery .tabBtn button{
    cursor: pointer;
    float: left;
    display: block;
    width: 100px; height: 100%; background-color: transparent; border: none;
    font-size: 18px; color: #333;
}
.gallery .tabBtn button:hover{
    background-color: #ddd;
}
.gallery .tabBtn button.active{
    background-color: #ccc;
}

.gallery .tabContents{
    width: 100%; overflow: hidden; padding: 20px; box-sizing: border-box;
}
.gallery .tabContents > div{
    display: none;
    animation: fadeEffect 0.6s;
}
@keyframes fadeEffect{
    from{opacity: 0;} /* 시작점에서는 투명도 0 */
    to{opacity: 1;} /* 시작점에서는 투명도 1 */
}

.gallery .tabContents h3{
    width: 100%; height: 50px;
}
.gallery .tabContents p{
    width: 100%; height: 30px;
}
.gallery .tabContents img{
    display: block; width: 100%; height: 430px;
    object-fit: cover; /* 사이즈 크기 동일하게 비율고정으로 꽉 채움 */
}