*{margin: 0; padding: 0;}
.paper{ width: 350px; height: 300px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.356); margin: 0 auto;}
h1{ text-align: center; border-top: 5px solid rgb(255, 141, 141); margin: 30px auto; padding-top: 10px; letter-spacing: 5px;}
p{ text-align: center;}
button{ display: block; color: rgb(255, 92, 92); background-color: transparent; border: none; cursor: pointer; margin: 30px auto; font-size: 15px;}
.ball{display: inline-block;width: 30px; height: 30px; border-radius: 15px;}