@import url('https://fonts.googleapis.com/css?family=Electrolize');

*{ padding: 0; margin: 0; font-family: 'Electrolize', sans-serif; }


.clock{ width: 680px; height: 160px; margin: 50px; padding: 30px 40px; box-sizing: border-box; background-color: lightgray; border-radius: 15px; }
.clock h2{ float: left; width: 100px; height: 100px; background-color: #000000; margin-right: 20px; color: #FFFFFF; text-align: center; line-height: 100px; font-size: 65px; text-shadow: 0px 0px 5px yellow; border-radius: 5px; }
.clock h4{ float: left; width: 240px; height: 45px; margin-bottom: 10px; background-color: #000000; color: #FFFFFF; text-align: center; line-height: 50px; font-size: 35px; text-shadow: 0px 0px 3px yellow; border-radius: 5px; text-transform: uppercase;  }
.clock h3{ float: left; width: 50px; height: 45px; margin-right: 20px; background-color: #000000; color: #FFFFFF; text-align: center; line-height: 50px; font-size: 30px; text-shadow: 0px 0px 3px yellow; border-radius: 5px; }
#year{ width: 100px; }
#date{ margin-right: 0; }