*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
}

.line{
    position: absolute;
    background-color: #fff;;
}
.horozontal{
    width: 100%;
    height: 1px;
}
.vertical{
    width: 1px;
    height: 100%;
}
.target{
    position: absolute;
}

.tag{
    position: absolute;
    transform: translate(20px, 20px);
}