*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
}

.line{
    position: absolute;
    top:0;
    height: 0;
    background-color: #fff;;
}
.horozontal{
    width: 100%;
    height: 1px;
    top:50%; 
}
.vertical{
    width: 1px;
    height: 100%;
    left:50%;
}
.target{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tag{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(20px, 20px);
}