*{
    margin: 0;
    padding: 0;
}
.bg{
    width: 1000px;
    height: 700px;
    background:url(./img/background.png);
    background-size: cover;
}
.play_set{
    text-align: center;
}
.play, .pause{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border:4px solid #333;
    cursor: pointer;
    font-size: 24px;
    line-height: 46px;
}
.timer{
    width: 120px;
    height: 35px;
    background-color: #fff;
    border: 4px solid #333;
    border-radius: 8px;
    margin: 10px auto;
    font-size: 24px;
}
.count{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: rgb(255, 224, 166);
        margin: 0 auto;
}
.result{
    width: 400px;
    height: 200px;
    margin: 150px auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
}
.replay{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    border: 5px solid #333;
}
.field{
    width: 100%;
    height: 320px;
    position: relative;
    top: 240px;
}
