*{
    margin: 0;
    padding: 0;
}
.game{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 560px;
    margin: 20px auto;
    background: url(./img/background.png);
    background-size: cover;
}
.game__header{
    text-align: center;
}
.game__button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #444;
    font-size: 24px;
    line-height: 50px;
    margin-top: 20px;
}
.game__timer{
    width: 80px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #444;
    margin: 10px auto;
    font-size: 22px;
    line-height: 30px;
    visibility: hidden;
}
.game__score{
    width:40px;
    height: 40px;
    background-color:rgb(255, 135, 88);
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    visibility: hidden;
}
.game_field{
    position: relative;
    background-color: rgba(68, 68, 68, 0.507);
    width:100%;
    height: 300px;
    margin-top: 130px;
}
.pop-up{
    display: none;
    position: absolute;
    bottom: 300px;
    left: 50%; 
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.pop-up__refresh{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #ddd;
    font-size: 38px;
}
.pop-up__message{
    font-size: 24px;
    color: #fff;
}

.carrot, .bug{
    position: absolute;
}