*{
    margin: 0;
    padding: 0;
}
li{
    list-style:none;
}
.clock{
    margin-top: 30px;
    .clockHead{
        ul{
            li{
                float: left;
                width: 40px * 2;
                height: 36px;
                background-color: #000;
                border-top-left-radius: 90px;
                border-top-right-radius: 90px;
                &::after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 8px;
                    margin: 35px auto;
                    background-color: black;
                }
                &:first-child{
                    transform: rotate(-50deg);
                    margin-left: 50%;
                }
                &:last-child{
                    transform: rotate(50deg);
                    margin-left: 120px;
                }
            }
        }
    }
    .clockBody{
        position: relative;
        width: 200px;
        height: 200px;
        border: 10px solid #000;
        border-radius: 100%;
        margin-left: calc(50% + 30px);
        background-size: 100%;
        &::after{
            position: relative;
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 95px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: #000;
            z-index: 100;
        }
        .hour{
            position: absolute; 
            width: 200px;
            height: 200px;
            z-index: 10;
            transform: rotate(0deg);
            &::after{
                position: absolute; left: 96.5px; top: 48px;
                content: '';
                display: block;
                width: 5px;
                height: 50px;
                background-color: red;
                border-radius: 10px;
            }
        }
        .minute{
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 9;
            transform: rotate(0deg);
            &::after{
                position: absolute; left: 97.5px; top: 18px;
                content: '';
                display: block;
                width: 3px;
                height: 80px;
                background-color: #333;
                border-radius: 10px;
            }
        }
        .second{
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 8;
            transform: rotate(0deg);
            &::after{
                position: absolute; left: 98px; top: 18px;
                content: '';
                display: block;
                width: 1.5px;
                height: 80px;
                background-color: #333;
                border-radius: 10px;
            }
        }
    }
    .clockLegs{
        position: relative;
        width: 15px;
        height: 3px;
        background-color: #000;
        margin-left: calc(50% + 134px);
        margin-bottom: 7px;
        &::after{
            position: absolute; top: 3px; left: -62px;
            content: '';
            display: block;
            width: 140px;
            height:7px;
            background-color: #000;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}
.desk{
    width: 800px;
    margin: 0 auto;
    .deskBody{
        width: 100%;
        height: 50px;
        background-color: rgb(165, 77, 36);
    }
    .deskLegs{
        ul{
            li{ 
                float: left;
                width: 20px;
                height: 100px;
                margin-left: 20px;
                margin-right: 700px;
                background-color: rgb(44, 34, 30);
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}